/*
Name:			styles.css
Written by:		Derek Guzman
Version:		1.0
*/

.modal {
	background: rgba(255, 255, 255, 1)
				url('../assets/pac.gif')
				50% 50%
				no-repeat;
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index:1000;
}

body.loading .modal {
	display: block;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#about {
	background-color: white;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

.desc {
	color: #0B9F69;
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	margin: 0;
	padding: 0.5em;
}

.aboutBoth {
	display: flex;
	flex-direction: row;
	height: 70vh;
	position: relative;
	width: 100vw;
}

.aboutLeft {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 45%;
}

.pic {
	background-image: url('../assets/profile.jpg');
	background-position: left center;
	background-repeat: no-repeat;
	height: 60%;
	position: relative;
	width: 100%;
}

.content {
	background-color: #5E5F5F;
	color: white;
	font-family: 'Montserrat', sans-serif;
	height: 30%;
	position: relative;
	width: 100%;
}

.content p {
	margin: 1em;
}

.resume {
	background-color: #19E0FF;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20pt;
	height: 20%;
	position: relative;
	width: 100%;
}

.resume p {
	margin: 1em 0 0 0;
	text-align: center;
}

.resume:hover {
	background-color: #311FFF;
	transition: all 1s;
}

.aboutRight {
	height: 100%;
	position: absolute;
	right: 0;
	width: 55%;
}

.icons {
	color: white;
	display: flex;
	flex-direction: row;
	height: 15vh;
	justify-content: space-around;
	position: relative;
	width: 100%;
}

.icons i {
	padding: 0.1em 0 0 0;
}

#git {
	background-color: #C4C3C6;
	text-align: center;
	width: 100%;
}

#git:hover {
	background-color: #000000;
	transition: all 1s;
}

#in {
	background-color: #A4A5A5;
	text-align: center;
	width: 100%;
}

#in:hover {
	background-color: #007bb5;
	transition: all 1s;
}

#twit {
	background-color: #848484;
	text-align: center;
	width: 100%;
}

#twit:hover {
	background-color: #55acee;
	transition: all 1s;
}

#gram {
	background-color: #5E5F5F;
	text-align: center;
	width: 100%;
}

#gram:hover {
	background-color: #125688;
	transition: all 1s;
}

.artists {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: 55vh;
	justify-content: flex-end ;
	position: relative;
	right: 0;
	width: 100%;
}

.artRow {
	display: flex;
	flex-direction: row;
	height: 27.5vh;
	position: relative;
	width: 100%;
}

.artRowTwo {
	display: flex;
	flex-direction: row;
	height: 27.5vh;
	position: relative;
	width: 100%;
}

.art {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20pt;
	height: 27.5vh;
	position: relative;
	width: 18.33vw;
}

.art p {
	bottom: 0;
	padding: 1em;
	position: absolute;
	right: 0;
}

.art:hover p {
	bottom: 50%;
	transition: all 1s;
}

.artRow .art:nth-child(1) {
	background-color: red;
}

.artRow .art:nth-child(2) {
	background-color: blue;
}

.artRow .art:nth-child(3) {
	background-color: yellow;
}

.artRowTwo .art:nth-child(1) {
	background-color: green;
}

.artRowTwo .art:nth-child(2) {
	background-color: purple;
}

.artRowTwo .art:nth-child(3) {
	background-color: orange;
}

#listen {
	align-items: center;
	background-color: white;
	color: #19E0FF;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	height: 5vh;
	justify-content: center;
	left: 33vh;
	position: absolute;
	top: 24vh;
	width: 40vh;
	z-index: 10;
}

.homeOne {
	border: none;
	color: #19E0FF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	margin: 0;
	padding: 1em;
	position: absolute;
	right: 40vw;
	text-align: center;
	top: 85vh;
	width: 15vw;
}

.homeOne:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

#home {
	background-color: #19E0FF;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100vh;
	width: 100vw;
}

.home {
	background-color: #19E0FF;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100vh;
	width: 100vw;
}

.about {
	border: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	margin: 0;
	padding: 1em;
	position: absolute;
	right: 40vw;
	text-align: center;
	top: 85vh;
	width: 15vw;
}

.about:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

.title {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25pt;
	font-weight: 200;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 135vh;
	width: 100vw;
}

.titleOne {
	opacity: 0;
	position: absolute;
	right: 48vw;
}

.slash {
	opacity: 0;
	position: absolute;
	right: 49%;
}

.titleTwo {
	opacity: 0;
	position: absolute;
	right: 28vw;
}

.work {
	border: none;
	box-sizing: border-box;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	margin: 0;
	padding: 1em;
	position: absolute;
	right: 40vw;
	text-align: center;
	top: 215;
	width: 15vw;
}

.work:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

#work {
	background-color: white;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 200vh;
	width: 100vw;
}

.homeTwo {
	border: none;
	color: #19E0FF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	margin: 0;
	padding: 1em;
	position: absolute;
	right: 40vw;
	text-align: center;
	top: 205vh;
	width: 15vw;
}

.homeTwo:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

.buttons {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 70vh;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 215vh;
	width: 10vw;
	z-index: 1000;
}

.button {
	height: 100%;
	width: 100%;
}

.button:nth-child(1) {
	align-items: center;
	background-color: #C4C3C6;
	color: white;
	display: flex;
	justify-content: center;
}

.button:nth-child(1):hover {
	background-color: lightblue;
	transition: all 0.5s;
}

.button:nth-child(2) {
	align-items: center;
	background-color: #A4A5A5;
	color: white;
	display: flex;
	justify-content: center;
}

.button:nth-child(2):hover {
	background-color: lightblue;
	transition: all 0.5s;
}

.button:nth-child(3) {
	align-items: center;
	background-color: #848484;
	color: white;
	display: flex;
	justify-content: center;
}

.button:nth-child(3):hover {
	background-color: lightblue;
	transition: all 0.5s;
}

.button:nth-child(4) {
	align-items: center;
	background-color: #5E5F5F;
	color: white;
	display: flex;
	justify-content: center;
}

.button:nth-child(4):hover {
	background-color: lightblue;
	transition: all 0.5s;
}

.slideHold {
	height: 70vh;
	position: absolute;
	right: 0;
	top: 215vh;
	width: 90vw;
	z-index: 100;
}

.slide:nth-child(1) {
	background-color: rgba(196, 195, 198, 0.8);
	height: inherit;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -1;
}

.slide:nth-child(2) {
	background-color: rgba(164, 165, 165, 0.8);
	height: inherit;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -2;
}

.slide:nth-child(3) {
	background-color: rgba(132, 132, 132, 0.8);
	height: inherit;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -3;
}

.slide:nth-child(4) {
	background-color: rgba(94, 95, 95, 0.8);
	height: inherit;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -4;
}

.workIcon {
	align-items: center;
	color: lightblue;
	display: flex;
	height: 70vh;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 215vh;
	width: 90vw;
}

.descTwo {
	color: #0B9F69;
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	margin: 0;
	position: absolute;
	padding: 0.5em;
	top: 285vh;
}

@media screen and (max-width: 768px) {
	.titleOne {right: 41vw;}
	.titleTwo {right: 21vw;}
}

@media screen and (max-width: 425px) {
	.titleOne {right: 29vw;}
	.titleTwo {right: 9vw;}
}

@media screen and (max-width: 375px) {
	.about {border: 0.1em solid white; right: 38vw;}
	.title {font-size: 16pt;}
	.titleOne {right: 38vw;}
	.titleTwo {right: 18vw;}
	.work {border: 0.1em solid white; right: 38vw;}
}

@media screen and (max-width: 320px) {
	.titleOne {right: 38vw;}
	.titleTwo {right: 18vw;}
}