/*
Name:			styles.css
Written by:		Derek Guzman
Version:		1.0
*/

.loader {
	align-items: center;
	background-color: #19E0FF;
	color: #fff;
	display: flex;
	font-family: Consolas, Menlo, Monaco, monospace;
	font-weight: bold;
	font-size: 30vh;
	height: 100vh;
	justify-content: center;
	width: 100vw;
	z-index: 9999;
}

.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
	-webkit-animation-delay: 0.4s;
	      animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  to {
	    -webkit-transform: scale(0.8);
	            transform: scale(0.8);
	    opacity: 0.5;
	  }
	}

@keyframes pulse {
	to {
		-webkit-transform: scale(0.8);
		        transform: scale(0.8);
		opacity: 0.5;
	}
}


.contactForm {
	background-color: white;
	border: 1em solid lightblue;
	font-family: 'Montserrat', sans-serif;
	height: 80vh;
	left: 25vw;
	opacity: 0;
	position: fixed;
	top: 8vh;
	transition: all 0.5s;
	width: 50vw;
	z-index: -9999;
}

.contactForm h1 {
	border-bottom: 1vh solid #CDFBFF;
	margin: 1em;
}

.contactForm p {
	border: 0.1vh solid black;
	cursor: pointer;
	margin: 0.5em;
	padding: 0.2em;
	position: absolute;
	right: 0;
	top: 0;
}


.formRow {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1em;
}

.formCo {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

label {
	color: grey;
	font-weight: 900;
}

input {
	background-color: lightblue;
	border: none;
	color: white;
	font-size: 20pt;
	text-align: center;
}

.name {
	width: 40vw;
}

.name:focus {
	background-color: lightgreen;
}

.email {
	width: 40vw;
}

.email:focus {
	background-color: lightgreen;
}

.phone {
	width: 16.5vw;
}

.phone:focus {
	background-color: lightgreen;
}

.skype {
	width: 16.5vw;
}

.skype:focus {
	background-color: lightgreen;
}

.message {
	background-color: lightblue;
	border: none;
	color: white;
	font-size: 16pt;
	height: 20vh;
	resize: none;
	width: 40vw;
}

.message:focus {
	background-color: lightgreen;
}

input[type="submit"] {
	cursor: pointer;
	width: 40vw;
	padding: 10px 0px 10px 0px;
	outline: none;
	text-align: center;
	font-size: 20pt;
	color: #ffffff;
	border: none;
	background: #b8d837;
	background: -moz-linear-gradient(top, #b8d837 0%, #99bd0d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8d837), color-stop(100%,#99bd0d));
	background: -webkit-linear-gradient(top, #b8d837 0%,#99bd0d 100%);
	background: -o-linear-gradient(top, #b8d837 0%,#99bd0d 100%);
	background: -ms-linear-gradient(top, #b8d837 0%,#99bd0d 100%);
	background: linear-gradient(to bottom, #b8d837 0%,#99bd0d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8d837', endColorstr='#99bd0d',GradientType=0 );
}

body.loading .modal {
	display: block;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#about {
	background-color: white;
	bottom: 0;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100vw;
}

.desc {
	color: #0B9F69;
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	padding: 0.5em;
}

.aboutBoth {
	display: flex;
	flex-direction: row;
	height: 70vh;
	position: absolute;
	width: 100vw;
}

.aboutLeft {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 70vh;
	justify-content: flex-start;
	width: 45vw;
}

.picC {
	height: 20vh;
	overflow: hidden;
	width: 45vw;
}

.pic {
	background: url('../assets/profile.jpg')
				50% 30%
				no-repeat;
	height: 20vh;
	width: 45vw;
}

.pic:hover {
	transition: all 1s;
	transform: scale(1.1, 1.1);
}

.opaque {
	background: #19E0FF
				url("../assets/code.gif")
				50% 50%
				no-repeat;
	height: inherit;
	opacity: 0;
	width: inherit;
}

.pic:hover .opaque {
	opacity: 0.2;
	transition: all 1s;
}

.content {
	background-color: #5E5F5F;
	color: white;
	font-family: 'Montserrat', sans-serif;
	height: 35vh;
	width: 45vw;
}

.content p {
	margin: 2em;
}

.contact {
	align-items: center;
	background-color: red;
	color: white;
	cursor: pointer;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 20pt;
	height: 15vh;
	justify-content: center;
	overflow: hidden;
	width: 45vw;
	z-index: 1;
}

.contact i {
	z-index: 3;
}

.contactC {
	background-color: green;
	height: 0;
	left: 0;
	position: absolute;
	top: 70vh;
	width: 45vw;
	z-index: 2;
}

.contact:hover .contactC {
	height: 15vh;
	transition: all 0.5s;
	top: 55vh;
}

.contactPop {
	opacity: 1;
	transition: all 0.5s;
	z-index: 9999;
}

.aboutRight {
	height: 100%;
	position: absolute;
	right: 0;
	width: 55%;
}

.icons {
	color: white;
	display: flex;
	flex-direction: row;
	height: 15vh;
	justify-content: space-around;
	position: relative;
	width: 100%;
}

.icons i {
	padding: 0.1em 0 0 0;
}

#git {
	background-color: #C4C3C6;
	text-align: center;
	width: 100%;
}

#git:hover {
	background-color: #000000;
	transition: all 0.5s;
}

#in {
	background-color: #A4A5A5;
	text-align: center;
	width: 100%;
}

#in:hover {
	background-color: #007bb5;
	transition: all 0.5s;
}

#twit {
	background-color: #848484;
	text-align: center;
	width: 100%;
}

#twit:hover {
	background-color: #55acee;
	transition: all 0.5s;
}

#gram {
	background-color: #5E5F5F;
	text-align: center;
	width: 100%;
}

#gram:hover {
	background-color: #125688;
	transition: all 0.5s;
}

.artists {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: 55vh;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	right: 0;
	width: 100%;
}

.artRow {
	display: flex;
	flex-direction: row;
	height: 27.5vh;
	overflow: hidden;
	width: 100%;
}

.artRowTwo {
	display: flex;
	flex-direction: row;
	height: 27.5vh;
	width: 100%;
}

.art {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 20pt;
	height: 27.5vh;
	overflow: hidden;
	position: relative;
	width: 18.33vw;
}

.artHover {
	height: inherit;
	width: inherit;
}

.art p {
	bottom: 0;
	color: red;
	font-size: 15pt;
	padding: 1em;
	position: absolute;
	right: 0;
}

.art:hover p {
	bottom: 20%;
	transition: all 0.5s;
}

.artRow .art:nth-child(1) {
	background: url("../assets/weeknd.jpg")
				50% 50%
				no-repeat;
	transform: scale(1.15, 1);
}

.artRow .art:nth-child(1) .artHover {
	background: url("")
				50% 50%
				no-repeat;
	opacity: 0;
	overflow: hidden;
	z-index: 10;
}

.artRowTwo .art:nth-child(1):hover .artHover {
	opacity: 1;
	transition: all 0.5s;
}

.artRow .art:nth-child(2) {
	background: url("../assets/justice.jpg")
				50% 50%/103% 103%
				no-repeat;
	overflow: hidden;
}

.artRow .art:nth-child(2) .artHover {
	background: url("../assets/justiceColor.png")
				50% 50%/103% 103%
				no-repeat;
	opacity: 0;
	z-index: 10;
}

.artRow .art:nth-child(2):hover .artHover {
	opacity: 1;
	transition: all 0.4s;
}

.artRow .art:nth-child(3) {
	background: url("../assets/fitz.jpg")
				50% 50%/101% 130%
				no-repeat;
}

.artRow .art:nth-child(3) .artHover {
	background: url("../assets/fitzColor.png")
				50% 50%/101% 130%
				no-repeat;
	opacity: 0;
	z-index: 10;
}

.artRow .art:nth-child(3):hover .artHover {
	opacity: 1;
	transition: all 0.4s;
}

.artRowTwo .art:nth-child(1) {
	background: url("../assets/daft.jpg")
				50% 50%
				no-repeat;
	transform: scale(1.08, 1);
}

.artRowTwo .artHover:nth-child(1) {
	background: url("../assets/daftColor.png")
				50% 50%
				no-repeat;
	height: inherit;
	opacity: 0;
	width: inherit;
	z-index: 10;
}

.artRowTwo .art:nth-child(1):hover .artHover:nth-child(1) {
	opacity: 1;
	transition: all 0.4s;
}

.artRowTwo .art:nth-child(2) {
	background: url("../assets/stirling.jpg")
				50% 50%/100% 120%
				no-repeat;
	transform: scale(1.12, 1);
}

.artRowTwo .art:nth-child(2) .artHover {
	background: url("../assets/stirlingColor.png")
				50% 50%/100% 120%
				no-repeat;
	opacity: 0;
	z-index: 10;
}

.artRowTwo .art:nth-child(2):hover .artHover {
	opacity: 1;
	transition: all 0.4s;
}

.artRowTwo .art:nth-child(3) {
	background: url("../assets/digi.jpg")
				50% 50%
				no-repeat;
}

.artRowTwo .art:nth-child(3) .artHover {
	background: url("../assets/digiColor.png")
				50% 50%
				no-repeat;
	opacity: 0;
	z-index: 10;
}

.artRowTwo .art:nth-child(3):hover .artHover {
	opacity: 1;
	transition: all 0.4s;
}

#listen {
	align-items: center;
	background-color: white;
	color: #19E0FF;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	height: 5vh;
	justify-content: center;
	left: 33vh;
	position: absolute;
	top: 24vh;
	width: 22vw;
	z-index: 10;
}

.homeOne {
	align-items: center;
	border: none;
	color: #19E0FF;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	height: 10vh;
	justify-content: center;
	position: absolute;
	right: 42.5vw;
	top: 85vh;
	width: 15vw;
}

.homeOne:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

#home {
	align-items: center;
	background-color: #19E0FF;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: absolute;
	top: 100vh;
	width: 100vw;
}

.about {
	align-items: center;
	border: none;
	color: white;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	height: 10vh;
	justify-content: center;
	opacity: 0;
	position: absolute;
	text-align: center;
	right: 42.5vw;
	top: 80vh;
	width: 15vw;
}

.about:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

.aboutDone {
	opacity: 1;
	top: 105vh;
	transition: all 1s;
}

.title {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25pt;
	font-weight: 200;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 135vh;
	width: 100vw;
}

.titleOne {
	opacity: 0;
	position: absolute;
	right: 48vw;
}

.titleOneIntro {
	opacity: 1;
	right: 40vw;
	transition: all 1s;
}

.slash {
	opacity: 0;
	position: absolute;
	right: 49%;
}

.slashIntro {
	opacity: 1;
	transition: all 1s;
}

.titleTwo {
	opacity: 0;
	position: absolute;
	right: 28vw;
}

.titleTwoIntro {
	opacity: 1;
	right: 40vw;
	transition: all 1s;
}

.work {
	align-items: center;
	color: white;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	height: 10vh;
	justify-content: center;
	opacity: 0;
	position: absolute;
	right: 42.5vw;
	top: 215vh;
	width: 15vw;
}

.work:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

.workDone {
	opacity: 1;
	top: 185vh;
	transition: all 1s;
}

#work {
	background-color: white;
	height: 100vh;
	position: absolute;
	top: 200vh;
	width: 100vw;
}

.homeTwo {
	align-items: center;
	color: #19E0FF;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	height: 10vh;
	justify-content: center;
	position: absolute;
	right: 42.5vw;
	text-align: center;
	top: 202vh;
	width: 15vw;
}

.homeTwo:hover {
	box-shadow: 0 0 0 0.1em;
	transition: all 0.5s;
}

.buttons {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 70vh;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 215vh;
	width: 10vw;
	z-index: 1000;
}

.button {
	align-items: center;
	height: 17.5vh;
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 1;
}

.overlay {
	background: #00FFFC 50% 50%/100% 100%;
	position: absolute;
	z-index: 2;
}

.button:nth-child(1) {
	background-color: #0057E7;
}

#overlayOne {
	height: 0;
	left: 5vw;
	top: 5vh;
	width: 0;
}

#iconOne {
	background: url("../assets/animatedicons/search/color.gif")
				50% 50%/150% 150%
				no-repeat;
	height: inherit;
	width: inherit;
	z-index: 3;
}

.button:nth-child(1):hover #overlayOne {
	height: 17.5vh;
	left: 0;
	top: 0;
	transition: all 0.5s;
	width: 10vw;
}

.button:nth-child(2) {
	background-color: #d62d20;
}

#overlayTwo {
	height: 0;
	left: 5vw;
	top: 26.25vh;
	width: 0;
}

#iconTwo {
	background: url("../assets/animatedicons/pencil/color.gif")
				50% 50%/150% 150%
				no-repeat;
	height: inherit;
	width: inherit;
	z-index: 3;
}

.button:nth-child(2):hover #overlayTwo {
	height: 17.5vh;
	left: 0;
	top: 17.5vh;
	transition: all 0.5s;
	width: 10vw;
}

.button:nth-child(3) {
	background-color: #ffa700;
}

#overlayThree {
	height: 0;
	left: 5vw;
	top: 43.75vh;
	width: 0;
}

#iconThree {
	background: url("../assets/animatedicons/customize/color.gif")
				50% 50%/150% 150%
				no-repeat;
	height: inherit;
	width: inherit;
	z-index: 3;
}

.button:nth-child(3):hover #overlayThree {
	height: 17.5vh;
	left: 0;
	top: 35vh;
	transition: all 0.5s;
	width: 10vw;
}

.button:nth-child(4) {
	background-color: #008744;
}

#overlayFour {
	height: 0;
	left: 5vw;
	top: 61.25vh;
	width: 0;
}

.button:nth-child(4):hover #overlayFour {
	height: 17.5vh;
	left: 0;
	top: 52.5vh;
	transition: all 0.5s;
	width: 10vw;
}

#iconFour {
	background: url("../assets/animatedicons/rocket/color.gif")
				50% 50%/150% 150%
				no-repeat;
	height: inherit;
	width: inherit;
	z-index: 3;
}

.slideHold {
	height: 70vh;
	position: absolute;
	right: 0;
	top: 215vh;
	width: 90vw;
	z-index: 100;
}

.slide:nth-child(1) {
	background: url("../assets/clouds.gif")
				50% 50%/110% 110%
				no-repeat;
	display: flex;
	flex-direction: row;
	height: inherit;
	justify-content: space-around;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -1;

	height: 100%;
	font-size: 1em;
	background-color: hsl(60, 0%, 20%);
	background-image: /* 1 */
	radial-gradient( white 10%, hsla(0, 0%, 100%, 0) 11%), /* 2 */
	radial-gradient( white 10%, hsla(0, 0%, 100%, 0) 11%), /* 3 */
	radial-gradient( white 8%, hsla(0, 0%, 100%, 0) 9%), /* 4 */
	radial-gradient( white 6%, hsla(0, 0%, 100%, 0) 7%), /* 5 */
	radial-gradient( white 6%, hsla(0, 0%, 100%, 0) 7%), /* 6 */
	radial-gradient( white 8%, hsla(0, 0%, 100%, 0) 9%), /* 7 */
	radial-gradient( white 10%, hsla(0, 0%, 100%, 0) 11%), /* 8 */
	radial-gradient( white 10%, hsla(0, 0%, 100%, 0) 11%), radial-gradient( hsla(124, 40%, 90%, .7), hsla(0, 0%, 100%, 0)), linear-gradient( 60deg, hsl(124, 80%, 50%), hsl(225, 80%, 50%), hsl(10, 80%, 50%));
	background-position: calc(50% - 5em) 50%, /* 1 */
	calc(50% - 2.5em) calc(50% - 1.5em), /* 2 */
	50% calc(50% - 2em), /* 3 */
	calc(50% + 2.5em) calc(50% - 1.5em), /* 4 */
	calc(50% - 5em) 50%, /* 5 */
	calc(50% - 2.5em) calc(50% + 1.5em), /* 6 */
	50% calc(50% + 2em), /* 7 */
	calc(50% + 2.5em) calc(50% + 1.5em), /* 8 */
	0 50%, 0 50%;
	background-size: 10em 10em, 10em 10em, 10em 10em, 10em 10em, 10em 10em, 10em 10em, 10em 10em, 10em 10em, 100% 100%, 100% 100%;
	background-repeat: repeat-x;
	animation: .25s ring linear infinite;
}

@keyframes ring {
	0% {
		background-position: calc(50% - 5em) 50%, /* 1 */
		calc(50% - 2.5em) calc(50% - 1.5em), /* 2 */
		50% calc(50% - 2em), /* 3 */
		calc(50% + 2.5em) calc(50% - 1.5em), /* 4 */
		calc(50% - 5em) 50%, /* 5 */
		calc(50% - 2.5em) calc(50% + 1.5em), /* 6 */
		50% calc(50% + 2em), /* 7 */
		calc(50% + 2.5em) calc(50% + 1.5em), /* 8 */
		0 50%, 0 50%;
	}
	100% {
		background-position: calc(50% - 2.5em) calc(50% - 1.5em), /* 1 */
		50% calc(50% - 2em), /* 2 */
		calc(50% + 2.5em) calc(50% - 1.5em), /* 3 */
		calc(50% + 5em) 50%, /* 4 */
		calc(50% - 2.5em) calc(50% + 1.5em), /* 5 */
		50% calc(50% + 2em), /* 6 */
		calc(50% + 2.5em) calc(50% + 1.5em), /* 7 */
		calc(50% + 5em) 50%, /* 8 */
		0 50%, 0 50%;
	}
}

.webPic {
	background: url("../assets/template/index.html")
				50% 50%
				no-repeat;
	height: 70vh;
	margin-left: 10vw;
	width: 30vw;
}

.webDesc {
	background-color: rgba(94, 95, 95, 0.5);
	color: white;
	font-family: 'Montserrat', sans-serif;
	height: 50vh;
	margin-top: 10vh;
	position: relative;
	width: 50vw;
}

.webDesc h1 {
	margin: 1em;
}

.webDesc p {
	font-size: 16pt;
	margin: 1em;
}

.slide:nth-child(2) {
	height: 70vh;
	overflow: hidden;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -2;
}

.hubMenu {
	display: flex;
	flex-direction: row;
	height: 10vh;
	text-align: center;
	width: 100%;
}

.hubClick {
	align-items: center;
	background-color: #FFCC00;
	color: white;
	display: flex;
	font-size: 20pt;
	justify-content: center;
	width: 33.3vw;
}

.hubClick:hover {
	background-color: #FEE223;
}

.hub {
	height: inherit;
	width: inherit;
}

.html {
	height: 50vh;
	left: 15vw;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 15vh;
	width: 60vw;
}

.css {
	background-color: red;
	height: 50vh;
	left: 15vw;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 100vh;
	width: 60vw;}


.js {
	height: 50vh;
	left: 15vw;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 100vh;
	width: 60vw;
}

.slide:nth-child(3) {
	background: url("../assets/code.gif")
				50% 50%/200% 200%
				no-repeat;
	font-family: 'Montserrat', sans-serif;
	height: inherit;
	position: absolute;
	right: 90vw;
	width: inherit;
	z-index: -3;
}

.slideOverlay {
	align-items: center;
	background-color: rgba(0, 255, 252, 0.5);
	display: flex;
	flex-direction: row;
	height: inherit;
	justify-content: center;
	width: inherit;
}

.quads {
	display: flex;
	flex-direction: column;
	height: 65vh;
	justify-content: flex-start;
	width: 25vw;
}

.quads:nth-child(1) {
	margin-right: 1vw;
}

.quads:nth-child(2) {
	margin-right: 5vw;
}

.quads:nth-child(1) .quad:nth-child(1) {
	background: rgba(0, 0, 0, 0.8)
				url("../assets/animatedicons/lightbulb/color.gif")
				120% -20%/55% 60%
				no-repeat;
}

.quads:nth-child(1) .quad:nth-child(1) h1 {
	margin-top: 1vh;
	padding: 0.5em;
}

.quads:nth-child(1) .quad:nth-child(1) p {
	padding: 1em;
}

.quads:nth-child(1) .quad:nth-child(2) {
	background: rgba(0, 0, 0, 0.8)
				url("../assets/animatedicons/pie-chart/color.gif")
				120% -20%/55% 60%
				no-repeat;
}

.quads:nth-child(1) .quad:nth-child(2) h1 {
	margin-top: 1vh;
	padding: 0.5em;
}

.quads:nth-child(1) .quad:nth-child(2) p {
	padding: 1em;
}

.quads:nth-child(2) .quad:nth-child(1) {
	background: rgba(0, 0, 0, 0.8)
				url("../assets/animatedicons/responsive/color.gif")
				120% -20%/55% 60%
				no-repeat;
}

.quads:nth-child(2) .quad:nth-child(1) h1 {
	margin-top: 1vh;
	padding: 0.5em;
}

.quads:nth-child(2) .quad:nth-child(1) p {
	padding: 1em;
}

.quads:nth-child(2) .quad:nth-child(2) {
	background: rgba(0, 0, 0, 0.8)
				url("../assets/animatedicons/diamond/color.gif")
				120% -20%/55% 60%
				no-repeat;
}

.quads:nth-child(2) .quad:nth-child(2) h1 {
	margin-top: 1vh;
	padding: 0.5em;
}

.quads:nth-child(2) .quad:nth-child(2) p {
	padding: 1em;
}

.quad {
	color: white;
	height: 31.5vh;	
	width: 25vw;
}

.quad:nth-child(1) {
	margin-bottom: 2vh;
}

.prac {
	align-item: center;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	height: 60vh;
	justify-content: center;
	width: 20vw;
}

.prac h1 {
	color: white;
	margin-bottom: 1em;
	padding: 0.1em;
	text-align: center;
	text-wrap: none;
}

ul {
	color: white;
	list-style-type: none;
	padding: 0.2em;
}

li {
	padding: 1em;
}

.slide:nth-child(4) {
	background: url("../assets/wood.png")
				50% 50%
				fixed
				no-repeat;
	height: 70vh;
	overflow: hidden;
	position: absolute;
	right: 90vw;
	width: 90vw;
	z-index: -4;
}

.coffee {
	background: url("../assets/elegantvector/coffee.svg")
				60% 55%/500% 500%
				no-repeat;
	height: inherit;
	width: inherit;
	z-index: 5;
}

.keyboard {
	background: url("../assets/elegantvector/keyboard.svg")
				40% 25%/300% 300%
				no-repeat;
	height: inherit;
	width: inherit;
	z-index: 10;
}

.workIcon {
	align-items: center;
	color: lightblue;
	display: flex;
	height: 70vh;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 215vh;
	width: 90vw;
}

.descTwo {
	color: #0B9F69;
	font-family: 'Montserrat', sans-serif;
	font-size: 30pt;
	margin: 0;
	position: absolute;
	padding: 0.5em;
	top: 285vh;
}

@media screen and (max-width: 768px) {
	.titleOne {right: 41vw;}
	.titleTwo {right: 21vw;}
}

@media screen and (max-width: 425px) {
	.titleOne {right: 29vw;}
	.titleTwo {right: 9vw;}
}

@media screen and (max-width: 375px) {
	.about {border: 0.1em solid white; right: 38vw;}
	.title {font-size: 16pt;}
	.titleOne {right: 38vw;}
	.titleTwo {right: 18vw;}
	.work {border: 0.1em solid white; right: 38vw;}
}

@media screen and (max-width: 320px) {
	.titleOne {right: 38vw;}
	.titleTwo {right: 18vw;}
}