/*
Name: 			styles.css
Written by: 	Blackbook Elements - (http://www.blackbookelements.com)
Version: 		1.0
*/

* {
	margin: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Bebas Neue', sans-serif;
	height: auto;
	list-style-type: none;
	margin: 0;
	max-width:auto;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html, body, ul {
	list-style-type: none;
}

@font-face {
	font-family: Bebas Neue;
	src: url(../fonts/bebas/bebasneue.otf);
}

@font-face {
	font-family: Bitter;
	src: url(../fonts/bitter/bitter-regular.otf);
}

a {
	color: black;
	text-decoration: none;
}

.page-wrap {
	min-height: 100%;
	position: absolute;
	top: 10vh;
}

.page-wrap-mobile {
	top: -40vh;
	transition: all 1s;
}

.page-wrap:after {
	content: "";
	display: block;
}

.footer, .page-wrap:after {
	height: 1.5vh;
}
/*************************************

			Main Navigation

**************************************/
header {
	background-color: white;
	height: 10vh;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	transition: all 1s;
	z-index: 10;
}

.fa-bars {
	position: absolute;
	right: -300%;
	top: 10%;
	visibility: hidden;
}

.mobile-header {
	height: 10vh;
	transition: all 1s; 
}

.header-body {
	height: 100%; 
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
}

.logo {
	align-items: center;
	background-image: url("../assets/img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	height: 7vh;
	justify-content: center;
	margin: 0;
	padding: 0.4em;
	position: absolute;
	right: 45%;
	top: 5%;
	transition: all 0s;
	width: 10%;
}

.logo-scroll {
	background-image: url("../assets/img/logo-invert.png");
	transition: all 0s;
}


.header-nav {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: row;
	font-size: 1.15em;
	font-weight: 900;
	height: 100%;
	justify-content: flex-end;
	margin: 0;
	padding: 0 ;
	right: 0;
	transition: background-color 1s;
	width: 100%;
}

.header-nav-scroll {
	background-color: black;
	transition: all 1s;
}

.about-me {
	align-items: center;
	background-color: black;
	border: 0.4vh solid black;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 1.8em;
	height: 1.8em;
	justify-content: center;
	left: 4vh;
	position: absolute;
	word-spacing: 0.1em;
	top: 7%;
	transition: all 1s;
	width: 10%;
}

.about-me:hover {
	background-color: white;
	border: 0.01em solid black;
	color: black;
	transition: all 1s;
}

.about-scroll {
	background-color: white;
	border: 0.01em solid white;
	color: black;
	font-weight: 900;
	transition: all 1s;
}

.about-scroll:hover {
	background-color: black;
	border: 0.01em solid white;
	color: white;
	transition: all 1s;
}

.nav-object {
	height: auto;
	width: auto;
}

.nav-object-button {
	background-color: white;
	border: none;
	cursor: pointer;
	font-family: "Bebas Neue";
	font-size: 1.8em;
	font-weight: 900;
	margin: 0;
	padding: 0;
	transition: all 1s;
	width: 1em;
}

.nav-object-button:hover {
	background-color: black;
	color: white;
	transition: all 1s;
}

.nav-object a {
	border: none;
	cursor: pointer;
	font-weight: 900;
	margin-right: 0.5em;
	padding: 0.3em;
}

.nav-object-scroll {
	background-color: black;
	color: white;
	transition: all 1s;
}

.nav-object-scroll:hover {
	background-color: white;
	color: black;
	transition: all 1s;
}

/* ************************************

			Back to Top Button

***************************************/

.back-to-top {
	alingn-items: center;
	bottom: 0;
	color: white;
	display: flex;
	font-family: 'Bebas Neue';
	font-size: 10vh;
	height: 5vh;
	justify-content: center;
	margin: 0.5em;
	opacity: 0;
	padding-bottom: 0.2em;
	position: fixed;
	right: 0;
	transition: opacity 1s;
	width: 6vh;
	z-index: 10;
}

.back-to-top-fade {
	opacity: 1;
	transition: all 1s;
}

/* ************************************

			Side Menu

***************************************/

.side-menu {
	align-items: center;
	background-color: rgba(0,0,0,0.96);
	color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	left: -45vh;
	padding: 1em;
	position: fixed;
	margin: 0;
	top: 0;
	width: 40vh;
	z-index: 100;
}

.side-menu-object {
	padding: 1em;
	margin: 0;
}

.side-menu-close {
	align-items: center;
	background-color: white;
	border: none;
	border-radius: 0.3em;
	box-shadow: none;
	color: black;
	cursor: pointer;
	display: flex;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	font-weight: 900;
	height: 1.5em;
	justify-content: center;
	margin: 1em;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 1.5em;
}

#x {
	position: relative;
}

.profile-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.social {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-around;
	width: 100%;
}

.linkedin {
	align-items: center;
	background-color: white;
	border-radius: 100%;
	color: black;
	display: flex;
	height: 2em;
	justify-content: center;
	margin: 0 0.5em 0.5em 0.5em;
	width: 2em;
}

.linkedin:hover {
	background-color: rgba(1,115,178,1);
	color: white;
	transition: all 0.2s;
}

.behance {
	align-items: center;
	background-color: white;
	border-radius: 100%;
	color: black;
	display: flex;
	height: 2em;
	justify-content: center;
	margin: 0 0.5em 0.5em 0.5em;
	width: 2em;
}

.behance:hover {
	background-color: rgba(45,154,210,1);
	color: white;
	transition: all 0.2s;
}

.twitter {
	align-items: center;
	background-color: white;
	border-radius: 100%;
	color: black;
	display: flex;
	height: 2em;
	justify-content: center;
	margin: 0 0.5em 0.5em 0.5em;
	width: 2em;
}

.twitter:hover {
	background-color: rgba(45,170,225,1);
	color: white;
	transition: all 0.2s;
}

.instagram {
	align-items: center;
	background-color: white;
	border-radius: 100%;
	color: black;
	display: flex;
	height: 2em;
	justify-content: center;
	margin: 0 0.5em 0.5em 0.5em;
	width: 2em;
}

.instagram:hover {
	background-color: rgba(81,127,164,1);
	color: white;
	transition: all 0.2s;
}

#profile-pic {
	align-items: center;
	background-image: url(../assets/img/profile-pic.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	height: 20vh;
	width: 20vh;
}

#bio {
	border: 0.4vh solid white;
	border-radius: 0;
	font-family: 'bitter' ;
	padding: 1em;
	margin: 0;
}

.hire-button {
	background-color: white;
	border: none;
	border-radius: 10%;
	display: block;
	color: black;
	font-family: 'Bebas Neue';
	font-size: 2em;
	font-weight: 900;
	margin: 1em;
	padding: 1em;
}

.hire-button:hover {
	background-color: black;
	border: 0.01em solid white;
	color: white;
	transition: all 0.2s;
}

/*********************************************************

					Slider

*********************************************************/

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.main-slider {
	background-color: #0d0d0d;
	height: 80vh;
	margin: 0;
	padding: 0;
	position: relative;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.slides {
    padding: 0;
    width: 100%;
    height: 80vh;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;	
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 80vh;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.left-arrow {
	background-image: url(../assets/img/left-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5vh 10vh;
	height: 100%;
	width: 100%;
}

.right-arrow {
	background-image: url(../assets/img/right-arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5vh 10vh;
	height: 100%;
	width: 50%;
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/***********************************************

			Portfolio Preview on Home 

************************************************/

.show-box {
	align-items: center; 
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 1%;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 98%;
	z-index: 1;
}

#portfolio {
	align-items: center;
	border: 0.3em solid black;
	color: black;
	display: flex;
	font-size: 1em;
	font-weight: 900;
	height: 2.5em;
	justify-content: space-around;
	margin: 0.6em 0 0.6em 0;
	padding: 0;
	position: relative;
	width: 98.7%;
}

#blog {
	align-items: center;
	border: 0.3em solid black;
	color: black;
	display: flex;
	font-size: 1em;
	font-weight: 900;
	height: 2.5em;
	justify-content: space-around;
	margin: 0.6em 0 0.6em 0;
	padding: 0;
	position: relative;
	width: 98.7%;
}

.row {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 60vh;
	justify-content: center;
	margin: 0;
	margin-bottom: 0.6em;
	padding: 0;
	position: relative;
	width: 100%;
}

.box {
	border: none;
	display: box;
	height: 60vh;
	margin: 0.3em;
	overflow: hidden;
	opacity: 0;
	padding: 0;
	width: 100%;
}

.box:hover .box-image {
	height: 110%;
	margin-left: -5%;
	margin-top: -5%;
	transition: all 1s;
	width: 110%;
}

.box:hover h1 {
	opacity: 1;
	transition: all 1s;
	width: 80%;
}

.box:hover button {
	margin-bottom: 1.8em;
	opacity: 1;
	transition: all 1s;
}

.box h1 {
	background-color: rgba(0, 0, 0, 0.5);
	border: 0.4vh solid white;
	color: white;
	font-size: 2em;
	margin: 0 0 0.2em 0;
	opacity: 0;
	padding: 0.2em;
	transition: all 1s;
	width: 90%;
}

.box button {
	background-color: white;
	border: none;
	border-radius: 4%;
	color: black;
	font-family: 'Bitter';
	font-size: 1.25em;
	font-weight: 900;
	opacity: 0;
	margin: 0 1em 1em 1em;
	padding: 0.5em;
	position: relative;
	text-wrap: none;
	transition: all 1s;
	width: 8em;
}

.box-image {
	align-items: center;
	border: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	text-align: center;
	transition: all 1s;
}

#box-image-one {
	background-image: url("../assets/img/image-one.jpg");
	background-position: center;
	background-repeat: cover;
	position: relative;
}

#box-image-two {
	background-image: url("../assets/img/image-two.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-three {
	background-image: url("../assets/img/image-three.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-four {
	background-image: url("../assets/img/image-four.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-five {
	background-image: url("../assets/img/image-five.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-six {
	background-image: url("../assets/img/image-six.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-seven {
	background-image: url("../assets/img/image-six.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-eight {
	background-image: url("../assets/img/image-four.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box-image-nine {
	background-image: url("../assets/img/image-one.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/***************************************************

					Parallax 

****************************************************/

.parallax {
	align-items: center;
	background-attachment: fixed;
	background-image: url("../assets/img/parallax-image.png");
	background-position: center;
	background-repeat: no-repeat;
	display; flex;
	height: 50vh;
	justify-content: center;
	margin: 0;
	position: relative;
	width: 100%;
}

#chart {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 300px;
	justify-content: center;
	margin: 1px auto 0;
	position: relative;
	margin-right: 10%;
	top: 4vh;
	width: 650px;
}

#labels {
	border-right: 0.5vh solid white;
	color: white;
	display: inline-block;
	font-size: 3.3vh;
	margin-right: 10%;
	text-align: right;
}

#labels li {
	margin: 0 0.5em 0.5em 0;
	padding: 0;
}

#bars {
	display: flex;
	flex-direction: row;
	height: 400px;
	justify-content: center;
	margin: 0;
	padding: 0;
	transform: rotate(90deg);
	width: 300px;
}

#bars li {
	display: table-cell;
	height: 400px;
	margin: 0;
	position: relative;
	text-align: center;
	width: 100px;
}

.bar {
	background: white;
	bottom: 0;
	display: block;
	margin: 0em;
	position: absolute;
	width: 20px;
}

.bar:hover {
	background: #5AE;
	cursor: pointer;
}

.bar:before {
	bottom: 20px;
	color: white;
	position: relative;
}

.bar span {
	bottom: -2em;
	color: #eee;
	left: 0;
	position: absolute;
	text-align: center;
	transform: rotate(270deg);
	width: 100%;
}
/**************************************************************

					Hire Me Form 

****************************************************************/
.hire-me {
	background-attachment: fixed;
	background-image: url(../assets/img/parallax-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 80vh;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: -2;
}

.opaque {
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	width: 100%;
}

.point-column {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	width: 23%;
	z-index: 0;
}

.point {
	opacity: 0;
}

.fa {
	margin: 0.2em;
}

#point-one {
	font-family: 'bitter';
	height: auto;
	letter-spacing: 0.1em;
	margin-right: 18em;
	padding: 2em 2em 0 2em;
	width: 100%;
}

#point-two {
	font-family: 'bitter';
	height: auto;
	letter-spacing: 0.1em;
	margin: 2em 18em 0 0;
	padding: 0 2em 0 2em;
	width: 100%;
}

#point-three {
	font-family: 'bitter';
	height: auto;
	letter-spacing: 0.1em;
	margin-left: 18em;
	padding: 2em 0 0 2em;
	width: 100%;
}

#point-four {
	font-family: 'bitter';
	height: auto;
	letter-spacing: 0.1em;
	margin: 2em 0 0 18em;
	padding: 0 0 0 2em;
	width: 100%;
}

fieldset {
	border: none;
}

.hire-me form {
	align-items: center ;
	bottom: 2vh;
	display: flex;
	flex-direction: column;
	height: auto;
	left: 25.5%;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 50%;
	z-index: 0;
}

.hire-me form h1 {
	font-size: 10vh;
}

.hire-me form h4 {
	border-bottom: 1px solid white;
	font-size: 3vh;
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
}

.hire-me form input {
	background-color: rgba(0,0,0,0.5);
	border: 0.01em solid white;
	color: white;
	font-family: 'bitter';
	margin: 0 1em 0 1em;
	min-width: 30vh;
	padding: 0;
	text-align: center;
}

.input-label label {
	letter-spacing: 0.2em;
	margin: 0.1em 1em 0.1em 1em;
	padding: 0;
	min-width: 40vh;
	text-align: center;
}

.form-row {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

#email {
	letter-spacing: 0.1em;
	margin: 0.1em 1em 0.1em 1em;
	min-width: 75vh;
}
.input-label {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0.1em;
	padding: 0;
}

textarea {
	background-color: rgba(0,0,0,0.5);
	border: 1px solid white;
	color: white;
	font-family: 'bitter';
	height: 15vh;
	width: 75vh;
}

.submit {
	align-items: center;
	background-color: white;
	border: none;
	color: black;
	display: flex;
	font-family: 'Bebas Neue';
	font-weight: 500;
	font-size: 1.5em;
	height: 15vh;
	justify-content: center;
	letter-spacing: 0.2em;
	margin: 0.3em;
	padding: 1em;
	position: relative;
	top: 0.6em;
	width: 5em;
}

.submit:hover {
	background-color: black;
	color: white;
	transition: all 0.2s;
}

#hire-me-form label.error {
	color: red;
	font-size: 2vh;
	padding-top: 0.1em;
}

#hire-me-form input.error {
	border: 1px solid red;
	padding-top: 0.1em;
}
/**************************************************************

					Footer 

****************************************************************/

/*footer {
	bottom: 0;
	color: grey;
	margin: 0;
	padding: 0;
	width: 100%;
}

.footer .container {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 35vh;
	margin: 0;
	overflow: hidden;
	padding: 2em;
	position: absolute;
	right: 0;
	width: 100%;
}

.contact-me {
	border: 0.5vh solid white;
	height: 10vh
	margin: 1em;
	position: relative;
	text-align: center;
	width: 70vh
}

.contact-me h1 {
	color: white;
}

.form-column {
	display: flex;
	flex-direction: column;
}

.form-column label {
	margin: 0;
	padding: 0;
}

.name-email {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
}

#name {
	background-color: white;
	border-radius: 0;
	box-sizing: border-box;
	color: black;
	line-height: 3vh;
	min-width: 15vh;
	position: relative;
	resize: none;
}

#email2 {
	background-color: white;
	border-radius: 0;
	color: black;
	line-height: 3vh;
	min-width: 15vh;
	position: relative;
	resize: none;
}

.message-send {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	height: 15vh;
	justify-content: center;
	margin: 1em;
}

#message {
	background-color: white;
	color: black;
	height: 15vh;
	margin: 0.3em;
	position: relative;
	width: 40vh;
}

#submit {
	align-items: center;
	background-color: black;
	border: 0.4vh solid white;
	color: white;
	display: flex;
	font-family: 'Bebas Neue';
	font-weight: 500;
	font-size: 1.5em;
	height: 15vh;
	justify-content: center;
	letter-spacing: 0.2em;
	margin: 0.3em;
	padding: 1em;
	position: relative;
	width: 30%;
	top: 0.6em;
}

textarea {
	box-sizing: border-box;
	border-radius: 0;
	line-height: 3vh;
	min-width: 15vh;
	resize: none;
}

.social-media {
	border: 0.5vh solid white;
	margin: 1em;
	padding: 1em;
}

.social-media h1 {
	color: white;
	padding: 0;
}

/****************************************************************

					Blog Styles

******************************************************************/

/****************************************************************

					Breadcrumbs

****************************************************************/
#crumbs {
	border: 0.5vh solid #dedede;
	height: 2.3em;
	margin: 20vh 0 0 0;
}

#crumbs li {
	float: left;
	line-height: 2.3em;
	padding-left: 0.75em;
	color: #777;
}

#crumbs li a {
	display: block;
	padding: 0 15px 0 0;
	background: url("../assets/img/crumbs.gif") no-repeat right center;
}

#crumbs li a:link, #crumbs li a:visited {
	text-decoration: none;
	color: #777;
}

#crumbs li a:hover, #crumbs li a:focus {
	color: #dd2c0d;
}
/*****************************************************************

					Blog Page Content 

******************************************************************/
.page-content {
	align-item: space-around;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.articles {
	background-color: red;
	height: 100%;
	width: 50%;
}

.right-side-menu {
	background-color: blue;
	height: 100%;
	width: 20%;
}
/*****************************************************************

					Portoflio Pages

******************************************************************/
.stupid-proof {
	background-color: black;
	height: 100%;
	margin: 0;
	opacity: 0.8;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.portfolio-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 13;
}

.portfolio-view {
	background-color: red;
	height: 100%;
	width: 100%;
}

.port-title {
	color: white;
	font-size: 5vh;
	padding: 1em;
}

.portfolio-close {
	align-items: center;
	border: 0.01em solid white;
	color: white;
	cursor: pointer;
	display: flex;
	height: 1em;
	justify-content: center;
	right: 0;
	margin: 1em;
	padding: 0.5em;
	position: absolute;
	top: 0;
	transition: all 0.5s;
	width: 1em;
}

.portfolio-close:hover {
	background-color: white;
	border: 0.2em solid black;
	color: black;
	transition: all 0.5s;
}

.portfolio-view {
	background-image: url(../assets/img/parallax-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1%;
	height: 80%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 80%;
}

.port-opacity {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

.details {
	border: 0.01em solid white;
	color: white;
	display: flex;
	flex-direction: column;
	left: 3%;
	margin: 0;
	position: absolute;
	top: 48%;
	width: 65%;
}

.details h1 {
	background-color: rgba(255,255,255,0.7);
	color: black;
	padding: 0.1em;
	text-decoration: underline;
}

.details-lists {
	align-items: baseline;
	display: flex;
	flex-direction: row;
}

.details ul:nth-child(1) {
	border-right: 0.01em solid white;
	padding: 0.5em;
}

.details ul:nth-child(2) {
	border-right: 0.01em solid white;
	padding: 0.5em;
}

.details li {
	font-family: 'bitter';
	padding: 0.5em;
	text-align: center;
}

.details li:nth-child(1) {
	border-bottom: 0.01em solid white;
}

.description {
	color: white;
	height: auto;
	margin: 0;
	padding: 0.5em;
	position: absolute;
	right: 5%;
	top: 15%;
	width: 20%;
}

.description h1 {
	border-bottom: 0.01em solid white;
}

.description p {
	font-family: 'bitter';
	margin-top: 0.5em;
}

.detail-row {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.portfolio-navigation {
	align-items: center;
	bottom: 1vh;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 5vh;
	height: 12vh;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.portfolio-prev {
	margin: 0.2em;
	padding: 0.5em;
	transition: all 0.5s;
}

.portfolio-prev:hover {
	background-color: white;
	border: 0.1em solid black;
	color: black;
	transition: all 0.5s;
}

.portfolio-next {
	margin: 0.2em;
	padding: 0.5em;
	transition: all 0.5s;
}

.portfolio-next:hover {
	background-color: white;
	border: 0.1em solid black;
	color: black;
	transition: all 0.5s;
}

.toggle-off-icon {
	align-items: center;
	bottom: 4vh;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 3vh;
	justify-content: center;
	position: absolute;
	right: 50%;
	transition: all 0.5s;
}

.toggle-on-icon {
	align-items: center;
	bottom: 4vh;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 3vh;
	justify-content: center;
	opacity: 0;
	position: absolute;
	right: 50%;
	transition: all 0.5s;
}

/*****************************************************************

					Blog Pages

******************************************************************/

.blog-drop {
	background-color: black;
	height: 100%;
	margin: 0;
	opacity: 0.8;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.blog-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 13;
}

.blog-close {
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	border: 0.2em solid white;
	color: white;
	cursor: pointer;
	display: flex;
	height: 1em;
	justify-content: center;
	right: 0;
	margin: 1em;
	padding: 0.5em;
	position: absolute;
	top: 0;
	transition: all 0.5s;
	width: 1em;
	z-index: 10;
}

.blog-close:hover {
	background-color: white;
	border: 0.2em solid black;
	color: black;
	transition: all 0.5s;
}

.blog-view {
	align-items: center;
	background-color: white;
	border: 1em solid lightgrey;
	border-radius: 1%;
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: flex-start;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	position: relative;
	width: 80%;
}

.header-wrapper {
	margin-bottom: 1em;
	padding-bottom: 2em;
}

.blog-header {
	background-attachment: fixed;
	background-image: url(../assets/img/parallax-image.png);
	background-repeat: no-repeat;
	height: 60vh;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
}

.blog-row {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin-bottom: 0.5em;
	padding: 0;
	position: relative;
	width: 100%;
}

.blog-body {
	height: auto;
	margin: 0;
	padding: 1em;
	position: relative;
	width: 80%;
}

.blog-body h1 {
	margin: 1.5em 0 0.5em 0;
	text-align: center;
}

.article-details {
	margin-left: 5em;
}

.posted {
	margin-bottom: 0.5em;
}

.blog-body p {
	font-family: 'bitter';
	line-height: 1.5em;
	margin: 0 2em 1em 2em;
}

.blog-body p:nth-child(2) {
	border-top: 0.01em solid rgba(224,224,224,0.8);
	padding-top: 2em;
}

.blog-body p:nth-child(6) {
	border-bottom: 0.01em solid rgba(224,224,224,0.8);
	padding-bottom: 2em;
}

.blog-side-menu {
	height: auto;
	margin: 0;
	padding: 1em;
	position: relative;
	width: 20%;
}

.blog-side-menu h1 {
	border-bottom: 0.01em solid rgba(224,224,224,0.8);
	padding: 0.5em;
	text-align: center;
}

.blog-navigation {
	align-items: center;
	border-bottom: 0.01em solid rgba(224,224,224,0.8);
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 5vh;
	height: 15vh;
	justify-content: space-around;
	margin-bottom: 1em;
	padding-bottom: 1em;
	position: relative;
	width: 100%;
}

.blog-prev {
	background-color: black;
	border: 0.1em solid white;
	padding: 0.5em;
	transition: all 0.5s;
}

.blog-prev:hover {
	background-color: white;
	border: 0.1em solid black;
	color: black;
	transition: all 0.5s;
}

.blog-next {
	background-color: black;
	border: 0.1em solid white;
	padding: 0.5em;
	transition: all 0.5s;
}

.blog-next:hover {
	background-color: white;
	border: 0.1em solid black;
	color: black;
	transition: all 0.5s;
}

.blog-body h4 {
	padding: 1em;
	margin: 1em;
}

.related-posts {
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.post {
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	margin: 0 0.1em 1em 0.1em;
	width: 100%;
}

.post h1 {
	background-color: rgba(0,0,0,0.5);
	border: 0.01em solid white;
	color: white;
	opacity: 0;
}

.post:hover h1 {
	opacity: 1;
	transform: translatey(30px);
	transition: all 1s;
}

#post-side-one {
	background-image: url(../assets/img/image-one.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#post-side-two {
	background-image: url(../assets/img/image-two.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#post-side-three {
	background-image: url(../assets/img/image-three.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#post-side-four {
	background-image: url(../assets/img/image-four.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.post-side {
	align-items: center;
	background-color: blue;
	display: flex;
	height: 20vh;
	justify-content: flex-start;
	margin: 0.1em 0 0.1em 0;
	width: 100%;
}

.post-side h1 {
	background-color: rgba(0,0,0,0.5);
	border: 0.1em solid white;
	color: white;
	margin-left: 0.2em;
	opacity: 0;
	position: relative;
	width: auto;
}

.post-side:hover h1 {
	opacity: 1;
	transform: translateX(30px);
	transition: all 1s;
}

#post-one {
	background-image: url(../assets/img/image-one.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#post-two {
	background-image: url(../assets/img/image-two.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#post-three {
	background-image: url(../assets/img/image-three.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#post-four {
	background-image: url(../assets/img/image-four.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.post-side:nth-child(2) {
	border-top: 0.01em solid rgba(244,244,244,1);
	margin-top: 1em;
}

.archive {
	list-style-type: circle;
	margin: 1em;
}

@media screen and (max-width: 375px) {
	body{overflow-X:hidden;}
	.about-me {
		background-color: black;
		left: -2vh;
		position:relative;
		top: -1vh;
		width: 33vh;
	}
	.logo {
		height: 7vh;
		top: 0.4vh;
		width: 7vh;
		z-index: 15;
	}
	header {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 40vh;
	}
	.header-nav {
		align-items: center;
		background-color: none;
		flex-direction: column;
		font-size:0.8em;
		justify-content:flex-end;
		position: absolute;
	}

	.fa-bars {padding:0 1em 0 0;visibility: visible;}

	.nav-object {margin: 0.6em;}

	.main-slider {height: 45vh;max-width:375px;}

	.slide {height: 45vh;max-width:375px;}

	.slider {height: 50vh;max-width:375px;}

	.side-menu {left:-100%;width:91.5%;}

	#bio {margin: 0;}

	.social {position: relative; top: -2vh;}

	.hire-button {margin: 0 0 0.3em 0; padding: 0.5em;}

	.box {align-item:center;height: 120vh;justify-content:center;}

	.box h1 {top:0;position: absolute;align-item: center;}

	.show-box {width:370px;}

	.row{flex-direction: column;height: 120vh;}

	.box h1{opacity:1;}

	.box button{opacity:1;}

	.hire-me {height: 120vh;}

	.hire-me form input{min-width: 10vh;}

	.hire-me form label{min-width:20vh;}

	#email {min-width: 40vh;}

	textarea {max-width:40vh;}

	.point{visibility: hidden;}
}